<!DOCTYPE html>

<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
<script type="text/javascript" src="/client.js"></script>
<script type="text/javascript" src="/urlParser.js"></script>

<html>

<body>

<form id="previous">
    <input class="btn" id="prevBtn" type="submit" value="Previous">
</form>

<form id="next">
    <input class="btn" id="nextBtn" type="submit" value="Next">
</form>

<form id="child">
    <input class="btn" id="childBtn" type="submit" value="Child">
</form>

<form id="parent">
    <input class="btn" id="parentBtn" type="submit" value="Parent">
</form>

<br>
<p id="loadStatus"></p>

<div id="comment">
    <p id="author"></p>
    <p id="body"></p>
</div>



</body>

</html>